header {
    background-color: #1F2937;
    color: #F9FAF8;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.header-logo {
    margin-right: 600px;
}

li {
    list-style: none;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

.hero-main {
    display: flex;
    justify-content: space-around;
}


.right p {
    background-color: #8F8F8F;
    padding: 80px;
    margin-right: 70px;
}

button {
    background-color: #3882F6;
    padding: 10px 30px;
    border: 1px solid #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: none;
}








    

    
    


    
   



    
    


